# Python 網路爬蟲 PART 2 - 擷取 台灣證券交易所 (TWSE) 股票資料
> ### [ REFERENCE ]

> + "Python 網路爬蟲 PART 1 - 台灣證券交易所 (TWSE) 股票資料"
>
> + Vincent Tsai, "**`TWSE_Python_crawler`**" 
    + Github: "**`TWSE_Python_crawler`**" https://github.com/tsaisunghao/TWSE_Python_crawler
    + Youtube: "Python網路爬蟲 爬取台灣證券交易所歷史交易紀錄(加強版)" https://youtu.be/dvw749iveJA


##  [ Module ]: TWSE_Crawler.py

In [ ]:
"""
#----------------------------------------------------
# [ Module ]: TWSE_Crawler.py
# < TWSE 個股資料下載模組 >： 2330 台積電 (TSMC) 2019/05/22
#----------------------------------------------------

def twse_crawler(year=2019, mm=5, dd=22, stockNo=2330):
    ''' 例如： year=2019 mm=05 dd=02 stockNo=2330 '''
    import bs4 as bs  #  beautifulsoup 4
    import urllib
    import urllib.request

    #----------------------------------------------------
    # 1. 連線至台灣證交所 (TWSE)，擷取 個股資料
    #----------------------------------------------------
    url_twse = 'http://www.twse.com.tw/exchangeReport/STOCK_DAY?response=json&date='
    url_history = url_twse + str(year) + str(mm).zfill(2) + str(dd).zfill(2) + '&stockNo=' + str(stockNo)
    print(url_history)
    webpage_history = urllib.request.urlopen(url_history)
    web_html = bs.BeautifulSoup(webpage_history, 'html.parser')
    # print(web_html)

    import json
    stock = json.loads(web_html.text)  #  讀取 JSON 資料
    # stock

    #----------------------------------------------------
    # 2. 轉換 個股資料成 data frame 資料格式
    #----------------------------------------------------
    stock_info = list(stock.values())  #  轉換成 list 格式
    stock_info
    # stock_info[2]
    # stock_info[3]

    import pandas as pd
    import numpy as np

    stock_price = pd.DataFrame(stock_info[4])
    stock_price

    ##  將 data frame 資料加上 column name
    stock_price.columns = stock_info[3]
    stock_price

    ## 將第一個 column name “日期” 改成 個股 title 
    stock_info[3][0] = stock_info[2]
    stock_price.columns = stock_info[3]
    stock_price

    ## 將 index 欄位 改成 個股 title 
    df_price = stock_price.set_index(stock_price.columns[0])
    df_price

    #----------------------------------------------------
    # < 輸出個股資料至 csv 檔案 >
    #----------------------------------------------------
    import os.path
    mydir ='./'      #  檔案路徑
    #  建立檔案路徑 + 檔案名稱 stock.csv
    csv_file = os.path.join(mydir, "stock" + str(stockNo) + '_' + str(year) + str(mm).zfill(2) + ".csv")
    df_price.to_csv(csv_file, encoding='utf_8_sig')   #  輸出 csv 檔案 
    print(' 輸出 csv 檔案 : ', csv_file)
    return df_price  #   回傳 個股 data frame 資料
"""

In [1]:
import TWSE_Crawler
dir(TWSE_Crawler)

['__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'twse_crawler']

In [2]:
from TWSE_Crawler import *
twse_crawler() # twse_crawler(year=2019, mm=5, dd=22, stockNo=2330)

http://www.twse.com.tw/exchangeReport/STOCK_DAY?response=json&date=20190522&stockNo=2330
 輸出 csv 檔案 :  ./stock2330_201905.csv

,成交股數,成交金額,開盤價,最高價,最低價,收盤價,漲跌價差,成交筆數
108年05月 2330 台積電 各日成交資訊,,,,,,,,
108/05/02,"27,376,394","7,122,135,656",261.50,262.50,258.50,259.00,0.00,"9,110"
108/05/03,"30,200,246","7,940,572,444",262.00,265.00,260.50,265.00,+6.00,"10,068"
108/05/06,"33,688,187","8,717,053,470",260.00,260.00,258.00,259.00,-6.00,"12,535"
108/05/07,"25,686,126","6,719,199,455",259.50,263.00,259.00,262.50,+3.50,"8,339"
108/05/08,"25,902,364","6,750,083,504",260.00,261.50,259.50,260.00,-2.50,"7,905"
108/05/09,"34,166,574","8,798,140,796",259.50,259.50,256.00,256.50,-3.50,"10,995"
108/05/10,"18,868,212","4,844,594,484",257.00,259.00,255.00,256.00,-0.50,"8,009"
108/05/13,"29,317,535","7,374,249,589",253.00,254.00,249.50,250.50,-5.50,"11,974"
108/05/14,"45,620,708","11,345,067,455",247.50,251.00,245.00,248.50,-2.00,"14,283"
108/05/15,"37,223,479","9,327,051,888",251.00,252.00,249.00,249.00,+0.50,"12,041"
108/05/16,"30,331,519","7,520,908,612",248.50,249.50,246.00,247.00,-2.00,"11,402"
108/05/17,"40,006,856","9,775,372,898",249.00,249.00,241.50,241.50,-5.50,"15,217"
108/05/20,"47,097,661","11,303,513,908",242.50,243.00,238.00,238.00,-3.50,"13,099"
108/05/21,"82,872,775","19,418,705,158",233.50,236.00,232.50,234.00,-4.00,"25,418"
108/05/22,"36,289,034","8,669,172,710",236.50,240.50,235.50,238.00,+4.00,"14,019"
108/05/23,"62,258,627","14,379,543,985",233.50,233.50,230.00,230.00,-8.00,"24,974"
108/05/24,"38,226,789","8,866,253,632",230.00,234.00,230.00,233.00,+3.00,"14,586"
108/05/27,"37,447,033","8,697,538,216",234.00,235.00,231.00,231.00,-2.00,"13,895"
108/05/28,"99,322,033","22,910,765,567",232.00,232.00,230.50,230.50,-0.50,"10,122"
108/05/29,"32,260,236","7,385,029,780",228.00,230.50,227.00,229.50,-1.00,"10,233"
108/05/30,"40,375,328","9,292,745,636",230.00,231.50,229.00,231.00,+1.50,"8,772"
108/05/31,"49,163,217","11,559,578,381",232.00,237.50,231.00,235.50,+4.50,"14,365"

## < TWSE 個股資料下載＆彙整 範例 >  2330 台積電 (TSMC) : 2019/01 ~ 2019/05

In [3]:
import time
import pandas as pd

for i in range(5):  # 2019/01 ~ 2019/05
    if i == 0:
        stocks = twse_crawler(year=2019, mm=i+1, dd=22, stockNo=2330)
    else:
        stock_i = twse_crawler(year=2019, mm=i+1, dd=22, stockNo=2330)
        stocks = pd.concat([stocks, stock_i])
    time.sleep(6)  # 延遲 6 秒

http://www.twse.com.tw/exchangeReport/STOCK_DAY?response=json&date=20190122&stockNo=2330
 輸出 csv 檔案 :  ./stock2330_201901.csv
http://www.twse.com.tw/exchangeReport/STOCK_DAY?response=json&date=20190222&stockNo=2330
 輸出 csv 檔案 :  ./stock2330_201902.csv
http://www.twse.com.tw/exchangeReport/STOCK_DAY?response=json&date=20190322&stockNo=2330
 輸出 csv 檔案 :  ./stock2330_201903.csv
http://www.twse.com.tw/exchangeReport/STOCK_DAY?response=json&date=20190422&stockNo=2330
 輸出 csv 檔案 :  ./stock2330_201904.csv
http://www.twse.com.tw/exchangeReport/STOCK_DAY?response=json&date=20190522&stockNo=2330
 輸出 csv 檔案 :  ./stock2330_201905.csv

In [4]:
stocks.head()

,成交股數,成交金額,開盤價,最高價,最低價,收盤價,漲跌價差,成交筆數
108/01/02,"32,900,482","7,276,419,230",226.50,226.50,219.00,219.50,-6.00,"12,329"
108/01/03,"34,615,620","7,459,051,790",214.00,218.00,214.00,215.50,-4.00,"14,549"
108/01/04,"67,043,521","13,987,136,785",211.50,211.50,206.50,208.00,-7.50,"28,786"
108/01/07,"35,695,176","7,591,116,569",212.00,214.00,211.00,213.00,+5.00,"11,224"
108/01/08,"23,794,481","5,019,703,557",212.00,212.50,210.00,211.00,-2.00,"9,377"

In [5]:
stocks.tail()

,成交股數,成交金額,開盤價,最高價,最低價,收盤價,漲跌價差,成交筆數
108/05/27,"37,447,033","8,697,538,216",234.00,235.00,231.00,231.00,-2.00,"13,895"
108/05/28,"99,322,033","22,910,765,567",232.00,232.00,230.50,230.50,-0.50,"10,122"
108/05/29,"32,260,236","7,385,029,780",228.00,230.50,227.00,229.50,-1.00,"10,233"
108/05/30,"40,375,328","9,292,745,636",230.00,231.50,229.00,231.00,+1.50,"8,772"
108/05/31,"49,163,217","11,559,578,381",232.00,237.50,231.00,235.50,+4.50,"14,365"

In [6]:
stocks.shape

(96, 8)

## < 輸出 TWSE 個股彙整資料 範例 >  2330 台積電 (TSMC) : 2019/01 ~ 2019/05

In [7]:
import os.path

stockNo = 2330   #  2330 台積電 (TSMC)
year = 2019

mydir ='./'      #  檔案路徑
csv_file = os.path.join(mydir, "stock" + str(stockNo) + '_' + str(year) + ".csv") #  建立檔案路徑 + 檔案名稱 stock.csv
stocks.to_csv(csv_file, index=True, encoding='utf_8_sig')
print(' 輸出 csv 檔案 : ', csv_file)

 輸出 csv 檔案 :  ./stock2330_2019.csv

##  [ Exercise 6-1 ]: 
> ### 請下載 中鋼、日月光、鴻海、廣達、富邦 2019年 個股資料，並輸出至 csv 檔案。